/* 
            ccrmns_menumaker.com ** Do not use this menu! in production unless paid for **
        */
/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300);*/

.ui.left.sidebar, .ui.right.sidebar {
    width: 250px;
}

/* Base Styles */
#ccrmns_menu,
#ccrmns_menu ul,
#ccrmns_menu li,
#ccrmns_menu a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    font-weight: normal;
    text-decoration: none;
    line-height: 1;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    position: relative;
}

    #ccrmns_menu a {
        line-height: 1.3;
    }

#ccrmns_menu {
    width: 250px;
}

#ccrmns_menu > ul > li > a {
    padding-right: 40px;
    font-size: 25px;
    font-weight: bold;
    display: block;
    background: #39444e;
    color: #fff;
    border-bottom: 1px solid #0e1113;
    text-transform: uppercase;
}

        #ccrmns_menu > ul > li > a > span {
            background: #4e5d6c;
            padding: 10px;
            display: block;
            font-size: 13px;
            font-weight: 300;
        }

        #ccrmns_menu > ul > li > a:hover {
            text-decoration: none;
        }

    #ccrmns_menu > ul > li.active {
        border-bottom: none;
    }

        #ccrmns_menu > ul > li.active > a {
            color: #fff;
        }

            #ccrmns_menu > ul > li.active > a span {
                background: #39444e;
            }

    #ccrmns_menu span.cnt {
        position: absolute;
        top: 8px;
        right: 15px;
        padding: 0;
        margin: 0;
        background: none;
    }
    /* Sub menu */
    #ccrmns_menu ul ul {
        display: none;
    }

        #ccrmns_menu ul ul li {
            border: 1px solid #e0e0e0;
            border-top: 0;
        }

        #ccrmns_menu ul ul a {
            padding: 10px;
            display: block;
            color: #bd5916;
            font-size: 13px;
        }

            #ccrmns_menu ul ul a:hover {
                color: #df691a;
            }

        #ccrmns_menu ul ul li.odd {
            background: #f4f4f4;
        }

        #ccrmns_menu ul ul li.even {
            background: #fff;
        }
