@{
    ViewData["Title"] = "Home Page";
}


<h1 class="ui dividing header">
    Buttons
</h1>

<div>
    <div id="sidemenutoggle" class="ui large button">
        Default
    </div>
    <div class="ui button follow">
        Follow
    </div>
    <div class="ui button">
        View
    </div>
    <div class="ui primary button">
        <i class="shop icon"></i>Add to Cart
    </div>
    <div class="ui secondary button">
        <i class="save icon"></i>Save for Later
    </div>
    <div class="ui labeled icon button">
        <i class="star icon"></i>Rate
    </div>
    <div class="ui basic button">
        Basic
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui animated button">
        <div class="visible content">
            Horizontal
        </div>
        <div class="hidden content">
            Hidden
        </div>
    </div>
    <div class="ui vertical animated button">
        <div class="visible content">
            Vertical
        </div>
        <div class="hidden content">
            Hidden
        </div>
    </div>
    <div class="ui animated fade button">
        <div class="visible content">
            Fade In
        </div>
        <div class="hidden content">
            Hidden
        </div>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui facebook button">
        <i class="facebook icon"></i>Facebook
    </div>
    <div class="ui twitter button">
        <i class="twitter icon"></i>Twitter
    </div>
    <div class="ui google plus button">
        <i class="google plus icon"></i>Google Plus
    </div>
    <div class="ui circular icon facebook button">
        <i class="facebook icon"></i>
    </div>
    <div class="ui circular icon twitter button">
        <i class="twitter icon"></i>
    </div>
    <div class="ui circular icon google plus button">
        <i class="google plus icon"></i>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui buttons">
        <div class="ui button">
            1
        </div>
        <div class="ui button">
            2
        </div>
        <div class="ui button">
            3
        </div>
    </div>
    <div class="ui buttons">
        <div class="ui button">
            Cancel
        </div>
        <div class="or"></div>
        <div class="ui positive button">
            Save
        </div>
    </div>
    <div class="ui icon buttons">
        <div class="ui button">
            <i class="align left icon"></i>
        </div>
        <div class="ui button">
            <i class="align center icon"></i>
        </div>
        <div class="ui button">
            <i class="align right icon"></i>
        </div>
        <div class="ui button">
            <i class="align justify icon"></i>
        </div>
    </div>
    <div class="ui icon buttons">
        <button class="ui button"><i class="play icon"></i></button><button class="ui button"><i class="pause icon"></i></button><button class="ui button"><i class="shuffle icon"></i></button>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui mini button">
        Mini
    </div>
    <div class="ui tiny button">
        Tiny
    </div>
    <div class="ui small button">
        Small
    </div>
    <div class="ui medium button">
        Medium
    </div>
    <div class="ui large button">
        Large
    </div>
    <div class="ui big button">
        Big
    </div>
    <div class="ui huge button">
        Huge
    </div>
    <div class="ui massive button">
        Massive
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui blue button">
        Blue
    </div>
    <div class="ui red button">
        Red
    </div>
    <div class="ui teal button">
        Teal
    </div>
    <div class="ui blue basic button">
        Blue
    </div>
    <div class="ui red basic button">
        Red
    </div>
    <div class="ui teal basic button">
        Teal
    </div>
    <div class="ui inverted segment">
        <div class="ui inverted button">
            Inverted
        </div>
        <div class="ui inverted blue button">
            Blue
        </div>
        <div class="ui inverted red button">
            Red
        </div>
        <div class="ui inverted basic button">
            Basic
        </div>
        <div class="ui inverted blue basic button">
            Blue
        </div>
        <div class="ui inverted red basic button">
            Red
        </div>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui vertical buttons">
        <div class="ui button">
            Feed
        </div>
        <div class="ui button">
            Messages
        </div>
        <div class="ui button">
            Events
        </div>
        <div class="ui button">
            Photos
        </div>
    </div>
    <div class="ui vertical buttons">
        <div class="ui button">
            1
        </div>
        <div class="ui button">
            2
        </div>
        <div class="ui button">
            3
        </div>
    </div>
    <div class="ui vertical icon buttons">
        <div class="ui button">
            <i class="align left icon"></i>
        </div>
        <div class="ui button">
            <i class="align center icon"></i>
        </div>
        <div class="ui button">
            <i class="align right icon"></i>
        </div>
        <div class="ui button">
            <i class="align justify icon"></i>
        </div>
    </div>
</div>
<h1 class="ui dividing header">
    Badges
</h1>
<a class="item" href="#">
    Inbox
    <div class="ui small label">
        42
    </div>
</a><br />
<div class="ui secondary compact menu" id="badges">
    <a class="active item" href="#">
        Home
        <div class="ui small label">
            42
        </div>
    </a><a class="item" href="#">
        Profile
        <div class="ui small label">
            53
        </div>
    </a><a class="item" href="#">
        Messages
        <div class="ui small label">
            3
        </div>
    </a>
</div>
<h1 class="ui dividing header">
    Dropdown menus
</h1>
<div class="ui vertical borderless menu">
    <a class="active item">Action</a><a class="item">Another action</a><a class="item">Something else here</a>
    <div class="ui fitted divider"></div>
    <a class="item">Separated link</a>
</div>
<h1 class="ui dividing header">
    Navs
</h1>
<div class="ui tabular menu">
    <a class="active item" data-tab="home">Home</a><a class="item" data-tab="profile">Profile</a><a class="item" data-tab="messages">Messages</a>
</div>
<div class="ui secondary menu">
    <a class="active item">Home</a><a class="item">Profile</a><a class="item">Messages</a>
</div>
<h1 class="ui dividing header">
    Navbars
</h1>
<div class="ui borderless menu">
    <div class="ui container">
        <a class="header item" href="#">Project name</a><a class="active item" href="#">Home</a><a class="item" href="#">About</a><a class="item" href="#">Contact</a>
        <div class="ui dropdown item">
            Dropdown
            <div class="i dropdown icon"></div>
            <div class="menu">
                <a class="item" href="#">Action</a><a class="item" href="#">Another action</a><a class="item" href="#">Something else here</a>
                <div class="ui fitted divider"></div>
                <div class="header">
                    Nav header
                </div>
                <a class="item" href="#">Separated link</a><a class="item" href="#">One more separated link</a>
            </div>
        </div>
    </div>
</div>
<div class="ui inverted borderless menu">
    <div class="ui container">
        <a class="header item" href="#">Project Name</a><a class="active item" href="#">Home</a><a class="item" href="#">About</a><a class="item" href="#">Contact</a>
        <div class="ui dropdown item">
            Dropdown
            <div class="i dropdown icon"></div>
            <div class="menu">
                <a class="item" href="#">Action</a><a class="item" href="#">Another action</a><a class="item" href="#">Something else here</a>
                <div class="ui fitted divider"></div>
                <div class="header">
                    Nav header
                </div>
                <a class="item" href="#">Separated link</a><a class="item" href="#">One more separated link</a>
            </div>
        </div>
    </div>
</div>
<h1 class="ui dividing header">
    Alerts
</h1>
<div class="ui success message">
    <div class="content">
        <p>
            <b>Well done!</b> You successfully read this important alert message.
        </p>
    </div>
</div>
<div class="ui info message">
    <div class="content">
        <p>
            <b>Heads up!</b> This alert needs your attention, but it's not super important.
        </p>
    </div>
</div>
<div class="ui warning message">
    <div class="content">
        <p>
            <b>Warning!</b> Best check yo self, you're not looking too good.
        </p>
    </div>
</div>
<div class="ui error message">
    <div class="content">
        <p>
            <b>Oh snap!</b> Change a few things up and try submitting again.
        </p>
    </div>
</div>
<div class="ui basic demo progress active" data-percent="3">
    <div class="bar" style="transition-duration: 300ms; width: 3%;">
        <div class="progress"></div>
    </div>
    <div class="label">3% Complete</div>
</div>
<div class="ui indicating demo progress active" data-percent="10">
    <div class="bar" style="transition-duration: 300ms; width: 10%;"></div>
    <div class="label">10% Done</div>
</div>
<div class="ui teal file demo progress active" data-total="20" data-value="6" data-percent="30">
    <div class="bar" style="transition-duration: 300ms; width: 30%;"></div>
    <div class="label">Uploading 6 of 20</div>
</div>
<div class="ui attached segment"></div>
<div class="ui bottom attached demo progress active" data-percent="4">
    <div class="bar" style="transition-duration: 300ms; width: 4%;"></div>
</div>
<h1 class="ui dividing header">
    List groups
</h1>
<div class="ui three column grid">
    <div class="column">
        <div class="ui segments">
            <div class="ui segment">
                <p>
                    Cras justo odio
                </p>
            </div>
            <div class="ui segment">
                <p>
                    Dapibus ac facilisis in
                </p>
            </div>
            <div class="ui segment">
                <p>
                    Morbi leo risus
                </p>
            </div>
            <div class="ui segment">
                <p>
                    Porta ac consectetur ac
                </p>
            </div>
            <div class="ui segment">
                <p>
                    Vestibulum at eros
                </p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui segments">
            <div class="ui inverted blue segment">
                <p>
                    Cras justo odio
                </p>
            </div>
            <div class="ui segment">
                <p>
                    Dapibus ac facilisis in
                </p>
            </div>
            <div class="ui segment">
                <p>
                    Morbi leo risus
                </p>
            </div>
            <div class="ui segment">
                <p>
                    Porta ac consectetur ac
                </p>
            </div>
            <div class="ui segment">
                <p>
                    Vestibulum at eros
                </p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui fluid vertical menu">
            <a class="active item">
                <h1 class="ui medium header">
                    List group item heading
                </h1>
                <p>
                    Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                </p>
            </a><a class="item">
                <h1 class="ui medium header">
                    List group item heading
                </h1>
                <p>
                    Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                </p>
            </a><a class="item">
                <h1 class="ui medium header">
                    List group item heading
                </h1>
                <p>
                    Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                </p>
            </a>
        </div>
    </div>
</div>
<h1 class="ui dividing header">
    Panels
</h1>
<div class="ui three column grid">
    <div class="column">
        <div class="ui top attached message">
            Panel title
        </div>
        <div class="ui bottom attached segment">
            Panel content
        </div>
    </div>
    <div class="column">
        <div class="ui top attached success message">
            Panel title
        </div>
        <div class="ui bottom attached segment">
            Panel content
        </div>
    </div>
    <div class="column">
        <div class="ui top attached warning message">
            Panel title
        </div>
        <div class="ui bottom attached segment">
            Panel content
        </div>
    </div>
    <div class="column">
        <div class="ui top attached blue message">
            Panel title
        </div>
        <div class="ui bottom attached segment">
            Panel content
        </div>
    </div>
    <div class="column">
        <div class="ui top attached inverted message">
            Panel title
        </div>
        <div class="ui bottom attached segment">
            Panel content
        </div>
    </div>
    <div class="column">
        <div class="ui top attached error message">
            Panel title
        </div>
        <div class="ui bottom attached segment">
            Panel content
        </div>
    </div>
</div>
<h1 class="ui dividing header">
    Wells
</h1>
<div class="ui secondary segment">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur.
    </p>
</div>
